<section class="prose prose:text-white bg-white p-4 rounded-lg">
  <h2>Instructions</h2>
  <p>
    Here you can call the functions I've implemented thus far. By selecting
    either "Wasm" or "Docker" you will then be able to run the same program
    either compiled to a WebAssembly binary, or packaged into a docker image.
  </p>
  <p>
    For the sake of not potentially overloading the school's computing
    resources, there is a set limit on how high of an input each module will
    accept. (Thanks Håkon)
  </p>
</section>
