<div class="flex flex-col items-center">
  <!-- Hero Section -->
  <header
    class="text-white text-center pb-16 mt-4 flex flex-col items-center gap-4"
  >
    <img src="/assets/eagle-nebula.jpg" alt="" class="h-44 max-w-[400px]" />
    <h1 class="text-4xl">Welcome to Nebula</h1>
    <p class="text-lg">The future of cloud computing with WebAssembly?</p>
  </header>

  <!-- Main Content -->
  <main class="container mx-auto mt-16 p-4">
    <section>
      <h2 class="text-2xl font-bold mb-6 text-white">Features</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Single Feature Card -->
        <div class="bg-white p-6 rounded shadow">
          <h3 class="text-xl mb-4">FaaS for WebAssembly</h3>
          <p>Maybe run WebAssembly modules seamlessly in the future, IDK.</p>
        </div>
        <!-- Single Feature Card -->
        <div class="bg-white p-6 rounded shadow">
          <h3 class="text-xl mb-4">Pure Functions</h3>
          <p>
            Optimized performance and repeatability with pure functions, maybe?
            Time will tell!
          </p>
        </div>
        <!-- Single Feature Card -->
        <div class="bg-white p-6 rounded shadow">
          <h3 class="text-xl mb-4">Open Source</h3>
          <p>
            Or not, I haven't decided yet. This is my project for my thesis, so
            I guess it would be weird with outside contributions.
          </p>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="bg-blue-900 text-white mt-16 p-4 text-center">
    <p>
      &copy; 2023 Nebula. All rights reserved. It's a thesis prototype after
      all.
    </p>
  </footer>
</div>
