<!doctype html>
<html lang="en" class="h-dvh">
  <head>
    <link href="/assets/main.css" rel="stylesheet" />
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="bg-slate-800 h-dvh flex flex-col items-center">
    {% include "components/header.html" %}
    <main id="content" class="w-full max-w-7xl">
      {% block content %} {% endblock %}
    </main>
    {% include "components/footer.html" %}
  </body>
</html>


