{% extends "layouts/base.rs.html" %}
{% block title %}
  About Nebula
{% endblock %}
{% block content %}
  <section class="prose text-white mx-auto md:p-12 lg:p-24">
    <h1 class="text-white">About Nebula</h1>
    <p>
      Nebula is a full stack application meant to replicate the mechanics 
      of a Functions-as-a-Service platform. The idea is that users "deploy" 
      the functions they want to run as WebAssembly binaries onto the platform, 
      and then call them with a input and receive an output. 
    </p>
    <p>
      This project is mainly used as a playground for experimenting with functions 
      run as WebAssembly modules versus the same function (and code) wrapped in 
      a docker image. In order to make a fair assessment, both versions are treated 
      as standalone programs that I feed input as stdin and read the result as 
      stdout. The results will be compiled into findings for my Master Thesis that is 
      due this spring. 
    </p>
    <p>
      If you're curious about the code, you can find it on Github <a class="text-white" href="https://github.com/brehen/nebula">here</a>.
    </p>
    <p>
      I've also blogged some about the project, if you want to read a bit more about the project <a class="text-white" href="https://kluften.dev/blog/">here</a>.
    </p>


    <h2 class="text-white">The stack ✊</h2>
    <p>
      <b>Backend</b>: Rust, Axum, WasmTime (Wasm runtime), Docker & Askama. 
      Running on Debian 12.
    </p>
    <p>
      <b>Frontend</b>: htmx 🦀🔪, vanilla JS & TailwindCSS
    </p>

    <h2 class="text-white">Made by:</h2>
    <div class="relative mx-auto flex items-center justify-center">
      <img class="absolute mt-0 mb-0 scale-[1.20]" src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/1444300/d860ff347a3962a8c1227e02bc76e18b8c980845.png"/>
      <img src="/assets/neko-punk.png" class="h-[224px] bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"/>
    </div>

  </section>
{% endblock %}
