{% extends "layouts/base.rs.html" %}
{% block title %}
  Session metrics
{% endblock %}

{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/assets/metrics.js"></script>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    const metrics = JSON.parse("{{metrics}}".replace(/&quot;/g, '"'))
    const metricsG = JSON.parse("{{metrics_grouped_by_input}}".replace(/&quot;/g, '"'))
    const metricsF = JSON.parse("{{metrics_grouped_by_module}}".replace(/&quot;/g, '"'))

    console.log(metricsF)
  

    setCharts(metrics)

    const inputSelectElement = document.getElementById('input-value-select')

    inputSelectElement.addEventListener('change', function() {
      const selectedValue = this.value;

      let newMetrics = selectedValue === "" ? metrics : metricsG[selectedValue]

      const charts = document.getElementsByTagName("canvas")
      Array.from(charts).forEach((chart) => {
        Chart.getChart(chart.id).destroy()
      })
      setCharts(newMetrics)
    })
  })
  </script>
{% endblock %}

{% block content %}
  <section class='w-full py-8 md:p-12'>

    <div class="flex items-center justify-end gap-4 pr-4">
      <label class="text-white ">
        Group by input:
      </label>
      <select name="input_value" id="input-value-select" class="rounded-lg">
        <option value="">--Please select--</option>
        {% for option in input_options %}
          <option value="{{option}}">{{option}}</option>
        {% endfor %}
      </select>
    </div>
        
    <h1 class="text-4xl ml-4 text-white">Metric data</h1>
    <div class="grid md:grid-cols-2 gap-8 p-4 text-white">
      <div class="flex flex-col gap-2">
        <h2 class="text-2xl">Average startup time</h2>
        <div class="bg-white rounded-xl p-4">
          <canvas id="avgStartupChart" width="auto" height="200"></canvas>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <h2 class="text-2xl">Average runtime</h2>
        <div class="bg-white rounded-xl p-4">
          <canvas id="avgRuntimeChart" width="auto" height="200"></canvas>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <h2 class="text-2xl">Average total time</h2>
        <div class="bg-white rounded-xl p-4">
          <canvas id="avgTotalTimeChart" width="auto" height="200"></canvas>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
