{% extends "layouts/base.rs.html" %}
{% block title %}
  Session metrics
{% endblock %}

{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    
    function setCharts(metrics) {
        const labels = Object.keys(metrics).sort();
        const dockerStartupData = labels.map(label => metrics[label].docker.avg_startup_time);
        const dockerRuntimeData = labels.map(label => metrics[label].docker.avg_runtime);
        const dockerTotalRuntimeData = labels.map(label => metrics[label].docker.avg_total_runtime);
        const wasmStartupData = labels.map(label => metrics[label].wasm.avg_startup_time);
        const wasmRuntimeData = labels.map(label => metrics[label].wasm.avg_runtime);
        const wasmTotalRuntimeData = labels.map(label => metrics[label].wasm.avg_total_runtime);


        const avgStartupCtx = document.getElementById('avgStartupChart');
        const avgRuntimeCtx = document.getElementById('avgRuntimeChart');
        const avgTotalTimeCtx = document.getElementById('avgTotalTimeChart');

        new Chart(avgStartupCtx, {
            type: 'line',
            data: {
                labels,
                datasets: [{
                    label: 'Wasm',
                    data: wasmStartupData,
                    borderWidth: 1
                }, {
                    label: "Docker",
                    data: dockerStartupData,
                    borderWidth: 1
                }]
            },
        });

        new Chart(avgRuntimeCtx, {
            type: 'line',
            data: {
                labels,
                datasets: [{
                    label: "Wasm",
                    data: wasmRuntimeData,
                    borderWidth: 1
                }, {
                    label: "Docker",
                    data: dockerRuntimeData,
                    borderWidth: 1
                }, ]
            },
        });

        new Chart(avgTotalTimeCtx, {
            type: 'line',
            data: {
                labels,
                datasets: [{
                    label: "Wasm",
                    data: wasmTotalRuntimeData,
                    borderWidth: 1
                }, {
                    label: "Docker",
                    data: dockerTotalRuntimeData,
                    borderWidth: 1
                }, ]
            },
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        const metrics = JSON.parse("{{metrics}}".replace(/&quot;/g, '"'))
        const metricsG = JSON.parse("{{metrics_grouped_by_input}}".replace(/&quot;/g, '"'))

        setCharts(metrics)

        const selectElement = document.getElementById('input-value-select')

        selectElement.addEventListener('change', function() {
          const selectedValue = this.value;

          let newMetrics = selectedValue === "" ? metrics : metricsG[selectedValue]

          const charts = document.getElementsByTagName("canvas")
          Array.from(charts).forEach((chart) => {
            Chart.getChart(chart.id).destroy()
          })
          setCharts(newMetrics)
        })
    })
  </script>
{% endblock %}

{% block content %}
  <section class='w-full'>

    <div class="flex items-center justify-end gap-4 pr-4">
      <label class="text-white ">
        Group by input:
      </label>
      <select name="input_value" id="input-value-select" class="rounded-lg">
        <option value="">--Please select--</option>
        <option value="12">12</option>
        <option value="13">13</option>
      </select>
    </div>
        
    <h1 class="text-4xl ml-4 text-white">Metric data</h1>
    <div class="grid grid-cols-2 gap-8 p-4 text-white">
      <div class="flex flex-col gap-2">
        <h2 class="text-2xl">Average startup time</h2>
        <div class="bg-white rounded-xl p-4">
          <canvas id="avgStartupChart" width="auto" height="200"></canvas>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <h2 class="text-2xl">Average runtime</h2>
        <div class="bg-white rounded-xl p-4">
          <canvas id="avgRuntimeChart" width="auto" height="200"></canvas>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <h2 class="text-2xl">Average total time</h2>
        <div class="bg-white rounded-xl p-4">
          <canvas id="avgTotalTimeChart" width="auto" height="200"></canvas>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
