{% extends "layouts/base.rs.html" %}

{% block title %}
  Docker!
{% endblock %}

{% block content %}
  <h1>Docker</h1>
  <div class="p-4 space-y-2">
    {% for image in images %}
      <form class='flex' hx-post="/api/docker" hx-target="#results" hx-swap="innerHTML">
        <input
          id={{image}}
          name="input"
          placeholder={{image}}
          type="text"
          class="rounded-l-md"
        />

        <input type="text" name="function_name" class="hidden" value="{{image}}" />
        <input type="text" name="module_type" class="hidden" value="Docker" />
        <button
            type="submit"
          class="rounded-r-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          {{ image }}
        </button>
      </form>
    {% endfor %}
    <div class="w-96 h-72 bg-white rounded-lg relative overflow-hidden overflow-y-scroll">
      <div class="text-white bg-slate-800 w-full h-full overflow-y-scroll p-4">
        <div id="results" class="flex flex-col gap-2"></div>
      </div>
      <div class="absolute bottom-0 w-full bg-slate-100 p-2 rounded-b-lg">
        Result...
      </div>
    </div>
  </div>

  {% include "components/wasm-modules.html" %}
{% endblock %}
