{% extends "layouts/base.rs.html" %}
{% block title %}
  Hello!
{% endblock %}

{% block content %}
  <div class="p-4 space-y-2">
    {% for module in modules %}
      <form class='flex' hx-post="/api/wasm" hx-target="#results" hx-swap="innerHTML">
        <input
          id={{module}}
          name="input"
          placeholder={{module}}
          type="text"
          class="rounded-l-md"
        />

        <input type="text" name="function_name" class="hidden" value="{{module}}" />
        <input type="text" name="module_type" class="hidden" value="Docker" />
        <button
          type="submit"
          class="rounded-r-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          {{ module }}
        </button>
      </form>
    {% endfor %}
    <div id="results" />
  </div>

  {% include "components/wasm-modules.html" %}
{% endblock %}
