<!doctype html>
<html lang="en">
  <head>
    <link href="/assets/main.css" rel="stylesheet" />
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
    <!-- Allow any inheriting page to set it's own title -->
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- htmx from the unpkg CDN - your mileage may vary -->
    <script src="/assets/htmx.min.js"></script>
    <!-- Allow any inheriting page to extend head with additional assets -->
    {% block head %}{% endblock %}
  </head>
  <body class="bg-slate-400 ">
    <nav class="p-4 w-full text-white">
      <div class="container flex justify-between items-end">
        <a class="text-2xl font-bold" href="/">Nebula</a>
        <div>
          <a href="/wasm">Wasm</a>
          |
          <a href="/docker">Docker</a>
          |
          <a href="/metrics">Metrics</a>
        </div>
      </div>
    </nav>
    <div id="content">
      <!-- Inheriting pages will have their content rendered here, similar to app root in React, Angular, etc. -->
      {% block content %} {% endblock %}
    </div>
  </body>
</html>


